/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.BeatBox-container {
  margin: 0 auto;
  /*padding: 40px;*/
  display: inline-block;
  box-sizing: border-box;
  background-image: url('../../public/tv.png');
  background-repeat: no-repeat;
  background-size: 100%;
}


.BeatBox-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  background-color: #0dfbfd;
  z-index: -1;
}


.BeatBox-red {
  color: red;
}

